.projects-section,.skills-section,.contact-section{
    overflow-x:clip;
}

.project-card{
    animation: appear linear;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;
}

.skill-all-lines{
    animation: appeartwo linear;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;
}

.skill-title-and-subtitle{
    animation: appearsix linear;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;
}

.projects-title-and-subtitle{
    animation: appearnine linear;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;
}

.contact-title-and-subtitle{
    animation: appeartwelve linear;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;
}

@media(max-width:1064px){
    .skill-all-lines{
        animation: appearthree linear;
        animation-timeline: view();
        animation-range: entry 0% cover 40%;
    }
    .projects-section,.skills-section,.contact-section{
        animation: none !important  ;
        animation-timeline: none;
        animation-range: none;
    }
}

@media(max-width:640px){
    .skill-all-lines-mobile{
        animation: appearfour linear;
        animation-timeline: view();
        animation-range: entry 0% cover 40%;
    }
}


@keyframes appear{
    from{
        opacity: 0;
        scale: 0.5;
    }
    top{
        opacity: 1;
        scale: 1;
    }
}

@keyframes appeartwo{
    from{
        opacity: 0;
        transform: translateY(240px);
    }
    to{
        opacity: 1;
        transform: translateY(0px);
    }
}

@keyframes appearthree{
    from{
        opacity: 0;
        transform: translateY(200px);
    }
    to{
        opacity: 1;
        transform: translateY(0px);
    }
}

@keyframes appearfour{
    from{
        opacity: 0;
        transform: translateY(160px);
    }
    to{
        opacity: 1;
        transform: translateY(0px);
    }
}


@keyframes appearsix{
    from{
        opacity: 0;
        transform: translateX(-440px);
    }
    to{
        opacity: 1;
        transform: translateX(0px);
    }
}

@keyframes appearnine{
    from{
        opacity: 0;
        transform: translateX(640px);
    }
    to{
        opacity: 1;
        transform: translateX(0px);
    }
}



@keyframes appeartwelve{
    from{
        opacity: 0;
        transform: translateX(-600px);
    }
    to{
        opacity: 1;
        transform: translateX(0px);
    }
}

